graft docs
graft examples
graft src
graft ci
graft tests

include .coveragerc
include .isort.cfg
include .pylintrc

include CHANGELOG.rst
include README.rst

global-exclude *.py[cod] __pycache__ *.so
